<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://ibmkce711619106007.s3.jp-tok.cloud-object-storage.appdomain.cloud/style1.css">
   <link rel="stylesheet" href="http://ibmkce711619106007.s3.jp-tok.cloud-object-storage.appdomain.cloud/bootstrap.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   <script src="http://ibmkce711619106007.s3.jp-tok.cloud-object-storage.appdomain.cloud/jquery.min.js"></script>
   <script src="http://ibmkce711619106007.s3.jp-tok.cloud-object-storage.appdomain.cloud/bootstrap.min.js"></script>
   
  
   
   
    <title>Home</title>
</head>
<body>
    <div class="container" id="home_container">

        <div class="row">

          <div class="col-lg-6 col-md-6 col-sm-6">
        <form id="search_container" action="/home/api/query" method="get">
        <input type="text" id="searchbar" autocomplete="off"  name="search" placeholder="search "/>
        <button id="searchbtn"><i class="fa-solid fa-magnifying-glass"></i></button>
       </form>
       </div>


       <div class="col-lg-6 col-md-6 col-sm-6 ">  
    <!-- Trigger the modal with a button -->
<button type="button"  id="user"  data-toggle="modal" data-target="#myModal"><i class="fa-regular fa-user"></i></button>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-info">Account</h4>
      </div>
      <div class="modal-body">
        <p >USERNAME:  {{data.USERNAME}}</p><br>
        <p>EMAIL:  {{data.EMAIL}}</p><br>
        <a href="/signin">change password</a><br><br>
        {% if session["sub"]==True %}
        <a href="/send"  class="btn btn-success">send</a><br><br>
        {% else %}
        <a href="/subscription"  class="btn btn-info">subscribe</a><br><br>
        {% endif%} 
        <a href="/logout"  class="btn btn-danger">logout</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
</div>
</div>
<h4 style="color:#FF5161;">Category</h4>
<div class="row">
  <ul   class="nav navbar-nav" id="cate">    
    <li><a class="active" href="/home/api/cat-list?category=business&page=1">business</a></li>
    <li><a href="/home/api/cat-list?category=entertainment&page=1">entertainment</a></li>
    <li><a href="/home/api/cat-list?category=general&page=1"> general</a></li>
    <li><a href="/home/api/cat-list?category=health&page=1">health</a></li>
    <li><a href="/home/api/cat-list?category=science&page=1"> science</a></li>
    <li><a  href="/home/api/cat-list?category=sports&page=1">sports</a></li>
    <li><a href="/home/api/cat-list?category=technology&page=1">technology</a></li>
  </ul>
</div>
<h4 style="color:#0975F3;">{{title}}:</h4>
<div id="news-container" class="row">
  {% for x in range(s,e, 1):%}
  <div class="col-lg-4 col-md-4 col-sm-12">
    <div id="card">
      {% if news.articles[x].urlToImage==None %}
      <img id="card-img" src="http://ibmkce711619106007.s3.jp-tok.cloud-object-storage.appdomain.cloud/brakeingnews.jpg" alt="Card image">
      {% else %}
      <img id="card-img" src="{{news.articles[x].urlToImage}}" alt="Card image">
      {% endif%} 
      <div id="card-body">
        <h4 id="card-title">{{news.articles[x].title}}</h4>
        <p  id="card-text">{{news.articles[x].description}}</p>
        <a href="{{news.articles[x].url}}" id="readbtn">Read more</a><br>   
      </div>
     </div>
  </div>
  {%endfor%} 
</div>
<div class="row">
  <ul id="pagination" class="pagination pagination-lg ">
    <li><a>&laquo;</a></li>
    {% for x in range(2,total,1):%}
    {% if url_cat %}
    <li><a href="{{url_cat}}?category={{qu}}&page={{x}}">{{x}}</a></li>
    {% elif url_query%}
    <li><a href="{{url_query}}?search={{q}}&page={{x}}">{{x}}</a></li>
    {% else %}
    <li><a href="{{url_head}}?page={{x}}">{{x}}</a></li>
    {% endif%}
    {%endfor%}
    <li><a>&raquo;</a></li>
  </ul>
  </div>
</div>
</div>
<script rel="text/javascript">

  let sound=document.getElementById("sound");
  let title=document.getElementById("card-title");
  let description=document.getElementById("card-text");
  sound.addEventListener("click",()=>{
    
    let utterance=new SpeechSynthesisUtterance(`${title.innerText} description ${description.innerText}`);
    speechSynthesis.speak(utterance);
})

</script>
</body>
</html>